.WARNING {
    color: rgb(236, 204, 56);
}

.ERROR {
    color: #ff615f;
}

.SUCCESS {
    color: #578037;
}

div {display:block;}

body {
  background-color: #f1f5f8;
}

#container {
    background-color: #ffffff;
    padding: 1em;
    margin-top: 100px;
}