<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<link href="http://cdn.bootcss.com/semantic-ui/2.1.6/semantic.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block head %}
    {% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
</body>
<script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/semantic-ui/2.1.6/semantic.min.js"></script>
<script>
    $(function(){
        $('.message .close').on('click', function() {
            $(this)
              .closest('.message')
              .transition('fade');
          });
    });
</script>
{% block js %}
{% endblock %}
</html>
