{% extends "base.html" %}
{% block head %}
{{ super() }}
<title>创建条目</title>
{% endblock %}
{% block content %}
{% include "comp/header.html" %}
    <div class="ui container" id="container">
        <form action="{{ url_for('main.create_entry') }}" method="post" class="ui form">
            {{ entry_form.csrf_token }}
            <div id="base">
                <div class="ui horizontal divider"><h2><i class="tag icon"></i>基础</h2></div>
                <div class="field">
                  <label>{{ entry_form.title.label() }}</label>
                  {{ entry_form.title() }}
                </div>
                <div class="field">
                  <label>{{ entry_form.type.label() }}</label>
                    {{ entry_form.type() }}
                </div>
            </div>

            <br>

            <button class="ui fluid teal button" type="submit">创建条目</button>
        </form>

    </div>
{% endblock %}
{% block js %}

{% endblock %}
