{% extends "base.html" %}
{% block head %}
{{ super() }}
<title>{{title|with_site}}</title>
<style>
    body {
        background: url(/static/img/bg.jpg) no-repeat;
        background-size: 100% 100%;
        overflow:hidden;
    }

    #pk {
        position:relative;
        max-width: 700px;
        margin: 200px auto;
        padding: 100px;
    }

</style>
{% endblock %}
{% block content %}
{% include 'comp/header.html' %}
{% include 'comp/login.html' %}
{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      {% for category, message in messages %}
          <div class="ui {{category}} message msg-fixed-top" id="tip">
            <i class="close icon"></i>
            <div class="header">{{ message }}</div>
          </div>
      {% endfor %}
    {% endif %}
{% endwith %}
<div id="pk">
    <form class="ui form" action="{{ url_for('.pk') }}" method="post" id="pk_form">
        <div class="ui fluid action input">
          <input name="pk" type="text" placeholder="例如:甜豆腐脑 pk 咸豆腐脑...">
          <button class="ui teal button" type="submit">PK一下</button>
        </div>
    </form>
</div>
<div class="ui page dimmer">
  <div class="content">
    <div class="center">
      <img class="ui image centered" src="http://7sbqim.com1.z0.glb.clouddn.com/pkyxlogo.png" alt="pkyx logo">
      <br>
        <p>pkyx是基于Flask开发的一个比较维基网站，中文译名为「PK一下」,灵感来自于VSChart。</p>
        <p>通过pkyx，你可以清晰地查看物品的属性，或者通过比较更好地作出选择，更重要的是，你可以创建知识词条，方便自己和他人的使用，快向世界分享你的知识吧!</p>
        <span>源码: <a style="color:#00b5ad;" href="https://github.com/tonnie17/pkyx">https://github.com/tonnie17/pkyx</a></span>
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
<script>
    $(function(){
        $('#login').login();
        $('#what').on('click', function(){
          $('.dimmer').dimmer('show');
        });
    });
</script>
{% endblock %}
