{% extends "base.html" %}
{% block head %}
{{ super() }}
<title>首页</title>
{% endblock %}

{% block content %}
{% include 'comp/header.html' %}
{% include 'comp/login.html' %}
<div class="ui container" id="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="{{ url_for('.pk') }}" method="post" id="pk_form">
        {{ pk_form.csrf_token }}
        {{ pk_form.pk1() }}
        {{ pk_form.pk2() }}
        {{ pk_form.submit() }}
    </form>
</div>
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
<script>
    $(function(){
        $('#login').login();

    });
</script>
{% endblock %}
