<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<p>还没有账号?<a href="{{ url_for('users.register') }}">点此</a>注册</p>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
  {% endif %}
{% endwith %}
<br>
    <form action="" method="post">
        {{ form.csrf_token }}
        {{ form.email.label() }}
        {{ form.email() }}
        {{ form.password.label() }}
        {{ form.password() }}
        {{ form.submit() }}
    </form>
</body>
</html>